<?xml version='1.0' encoding='utf-8'?>
<widget id="com.wMedievalFarms_GuiGhostGames" version="1.8.1" android-versionCode = "1554917005" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Medieval Farms</name>
    <description>
     Retro Farming Sim with unique gameplay
    </description>
    <author email="info@guighost.com" href="http://guighostgames.com">
		GuiGhost Games
    </author>




    <access origin="*" />
    <allow-navigation href="*" />
    <allow-intent href="http://*/*"/>
    <allow-intent href="https://*/*"/>
    <allow-intent href="tel:*"/>
    <allow-intent href="sms:*"/>
    <allow-intent href="mailto:*"/>
    <allow-intent href="geo:*"/>
    <content src="index.html" />
	<gap:plugin name="cordova-plugin-x-socialsharing"/>
	<plugin name="cordova-plugin-app-launcher" />
	<plugin name="fitatu-cordova-plugin-market" />
	<plugin name="enhance-cordova-connector"/>
	<plugin name="cordova-plugin-device"  />
	<plugin name="cordova-plugin-file"  />
    <plugin name="cordova-plugin-network-information"  />


    <access origin="*" />
    <feature name="http://api.phonegap.com/1.0/device" />
    <preference name="orientation"     value="portrait" />        <!-- all: default means both landscape and portrait are enabled -->
    <preference name="target-device"   value="universal" />      <!-- all: possible values handset, tablet, or universal -->
    <preference name="fullscreen"       value="true" />           <!-- all: hides the status bar at the top of the screen -->
    <preference name="DisallowOverscroll" value="true"/>
	<preference name="android-build-tool" value="gradle" />
	<platform name="android">
        <allow-intent href="market:*" />
		<icon src="icon.png" />
	<preference name="LoadingDialog" value="Loading ,Medieval Farms"/>
	 <preference name="android-minSdkVersion" value="19" />
        <preference name="android-targetSdkVersion" value="29" />
        <preference name="ANDROID_SUPPORT_RECYCLERVIEW_VERSION" default="27+" />
        <preference name="KeepRunning" value="false"/>
        <!-- <preference name="InAppBrowserStorageEnabled" value="true"/> -->
        <preference name="AndroidLaunchMode" value="singleTop"/>
        <preference name="DefaultVolumeStream" value="call" />
        <preference name="useCleartextTraffic" value="true" />
		<preference name="android-installLocation" value="auto" />
        <allow-navigation href="*" />
    </platform>

</widget>
