<?xml version='1.0' encoding='utf-8'?>
<widget id="com.wMedievalFarms_GuiGhostGames" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Medieval Farms</name>
    <description>
     Retro Farming Sim with unique gameplay
    </description>
    <author email="info@guighost.com" href="http://guighostgames.com">
		GuiGhost Games
    </author>
    <plugin name="cordova-plugin-inappbrowser"  />
    <plugin name="fitatu-cordova-plugin-market" />
    <gap:plugin name="org.apache.cordova.geolocation"/>
    <gap:plugin name="org.apache.cordova.device-orientation"/>
    <plugin name="nl.x-services.plugins.socialsharing" spec="4.3.8" source="pgb" />

    <content src="index.html" />
    <access origin="*" />
    <feature name="http://api.phonegap.com/1.0/device" />
    <preference name="orientation"                value="portrait" />        <!-- all: default means both landscape and portrait are enabled -->
    <preference name="target-device"              value="universal" />      <!-- all: possible values handset, tablet, or universal -->
    <preference name="fullscreen"                 value="true" />           <!-- all: hides the status bar at the top of the screen -->
    <preference name="DisallowOverscroll" value="true"/>
	<platform name="android">
        <allow-intent href="market:*" />
		<icon src="icon.png" />
        <preference name="android-targetSdkVersion" value="28" />
        <preference name="ANDROID_SUPPORT_RECYCLERVIEW_VERSION" default="27+" />
        <preference name="KeepRunning" value="true"/>
        <preference name="InAppBrowserStorageEnabled" value="true"/>
        <preference name="AndroidLaunchMode" value="singleTop"/>
        <preference name="DefaultVolumeStream" value="call" />
    </platform>

</widget>
